<a href="https://colab.research.google.com/github/duc-ke/edu_jupyter_pandas/blob/master/python_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# google drive connect

In [2]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdriv')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdriv

### for 문 연습

In [ ]:
# for 문으로 하나씩 출력하기
test = ['one', 'two', 'three']

In [ ]:
# for 문을 이용하여 60점 이상이면 합격, 아니면 불합격을 출력
# 출력 문 : 'i 번 학생 축하합니다. 합격입니다.' / 'i 번 학생 불합격입니다.'
scores = [90, 25, 67, 45, 80]

### range와 enumerate 함수

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# for 문의 2번째 문제를 range로 풀어보기
# hint :  ? 번째 학생 인덱싱을 len, range, scores를 이용하여 풀어본다. 
scores = [90, 25, 67, 45, 80]

In [ ]:
# for 문을 활용한 구구단 출력
for i in range():
  for j in range():
    print(i * j, end=)

In [ ]:
# for 문의 2번째 문제를 enumerate로 풀어보기
scores = [90, 25, 67, 45, 80]

### list comprehension

In [ ]:
# 아래 for문을 활용한 리스트 생성을 짧게 줄여본다.
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares2 = []

In [ ]:
# for문을 활용한 구구단 출력을 list comprehension으로 바꿔보자
result = []
for i in range(2, 10):
  for j in range(1, 10):
    result.append(i*j)    
result

In [ ]:
result2 = []

### while 문

In [ ]:
# 아래의 for 문을 while문으로 교체 하기
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = 0
while :
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 피보나치 수열을 for 와 while문으로 만들어 보기
a, b = 0, 1

In [ ]:
# for문으로 10번 생성하기
for i in range(10):

In [ ]:
# while문으로 10번 생성하기
a, b = 0, 1
count = 0
while

### else, pass, break, continue

In [ ]:
# if, break를 이용하여 num을 3까지만 출력하기
num = 0
while num < 10:
  num += 1
  print('Number is' + str(num))

In [ ]:
# if, continue 사용하여, 10까지 숫자 중 짝수만 출력해보기

### 파일 입출력

#### 파일 쓰기

In [9]:
filename = '/content/gdriv/My Drive/new_file.txt'
f = open(filename, 'w')

for i in range(1, 11):
  f.write(f'{ i } 번째 줄입니다.\n')

f.close()

In [ ]:
!ls /content/gdriv/My\ Drive

In [11]:
!cat /content/gdriv/My\ Drive/new_file.txt

1 번째 줄입니다.
2 번째 줄입니다.
3 번째 줄입니다.
4 번째 줄입니다.
5 번째 줄입니다.
6 번째 줄입니다.
7 번째 줄입니다.
8 번째 줄입니다.
9 번째 줄입니다.
10 번째 줄입니다.

In [ ]:
# 위 구문 보다 'with'를 활용한 파일 읽기/쓰기를 활용하는 것이 더 낫다.
# with를 활용하여 new_file2.txt를 만들기

#### 파일 읽기

In [12]:
# 한줄 읽기 : readline()
f = open('/content/gdriv/My Drive/new_file.txt', 'r')
line = f.readline()
f.close
print(line)

1 번째 줄입니다.

In [14]:
# 파일 몽땅 읽어 리스트로 저장 : readlines()
f = open('/content/gdriv/My Drive/new_file.txt', 'r')
lines = f.readlines()
print(type(lines))
lines

<class 'list'>

['1 번째 줄입니다.\n',
 '2 번째 줄입니다.\n',
 '3 번째 줄입니다.\n',
 '4 번째 줄입니다.\n',
 '5 번째 줄입니다.\n',
 '6 번째 줄입니다.\n',
 '7 번째 줄입니다.\n',
 '8 번째 줄입니다.\n',
 '9 번째 줄입니다.\n',
 '10 번째 줄입니다.\n']

In [15]:
# 파일 몽땅 읽어 문자열로 저장
f = open('/content/gdriv/My Drive/new_file.txt', 'r')
all_chars = f.read()
print(type(all_chars))
all_chars

<class 'str'>

'1 번째 줄입니다.\n2 번째 줄입니다.\n3 번째 줄입니다.\n4 번째 줄입니다.\n5 번째 줄입니다.\n6 번째 줄입니다.\n7 번째 줄입니다.\n8 번째 줄입니다.\n9 번째 줄입니다.\n10 번째 줄입니다.\n'

In [19]:
# read 관련 함수 사용하지 않고 for를 이용 (자주 사용)
f = open('/content/gdriv/My Drive/new_file.txt', 'r')
for line in f:
  line = line
  print(line)

1 번째 줄입니다.

2 번째 줄입니다.

3 번째 줄입니다.

4 번째 줄입니다.

5 번째 줄입니다.

6 번째 줄입니다.

7 번째 줄입니다.

8 번째 줄입니다.

9 번째 줄입니다.

10 번째 줄입니다.

In [24]:
# 파일에 새로운 내용 추가 하기 'a'옵션 사용
with open('/content/gdriv/My Drive/new_file.txt', 'a') as f:
  for i in range(11, 21):
   f.write(f'{ i } 번째 줄 아닌가!!\n')

In [ ]:
!cat '/content/gdriv/My Drive/new_file.txt'

### 표준 입출력
직접 실행해보세요~ 시간상 넘어가겠습니다

### 함수

In [ ]:
# 두 변수의 합을 계산해주는 나만의 함수
def sum_two_var()

In [ ]:
# 입력값이 임의의 여러개 인경우 '*args' 를 이용 (튜플로 인식하여 가져옴)
# mode가 '+' / '*' 에따라 덧셈 곱셈을 해주는 함수 제작하고 테스트하기
def sum_or_mul(mode, *args):
  if

In [26]:
# 함수의 출력값이 여러개일 경우에도 하나로 받을 수 있으며 이 변수의 타입은 '튜플!'
def sum_and_mul(a, b):
  return a+b, a*b

sum_and_mul(3, 4)

(7, 12)

In [33]:
# '*args'는 튜플로 인식하나 딕셔너리면 '**kwargs'로 보내거나 받는다
def add(a=0, b=0):
  return a + b

d = {'a': 2, 'b': 3}
add(**d)

5

In [35]:
def cheeseshop(kind, *args, **kwargs):
  print(type(args), len(args))
  print(type(kwargs), len(kwargs))

cheeseshop(1, 2, 3, a='a', b='b')

<class 'tuple'> 2
<class 'dict'> 2

In [37]:
cheeseshop(1, a='a')

<class 'tuple'> 0
<class 'dict'> 1

In [46]:
# 지역 변수 개념 확인
def aaaa(y):
  y = y + 1

In [48]:
y = 100
aaaa(y)
print(y)

100

### lambda, map, filter

In [49]:
# lambda는 한줄 함수
# 다음 함수를 lambda로 바꿔보기
def sum(a, b):
  return a+b

sum(3, 4)

7

In [ ]:
sum = lambda

In [51]:
# map은 lambda(혹은 함수)와 리스트를 연결한다
# 아래 리스트를 제곱한 리스트를 출력
a = [1, 2, 3, 4]
map(lambda)

[1, 4, 9, 16]

In [52]:
# filter는 map과 유사하나 특정 조건을 걸어 리스트를 선별
# 리스트 요소 중 양수만 뽑자
a = [1, -3, 2, -5, 4]
list(filter(lambda x: x>0, a))

[1, 2, 4]

### 모듈

In [53]:
import math

In [54]:
# 수열 계산
n = math.factorial(3)
n

6

In [55]:
import os

In [57]:
# 경로와 파일명 분리
filename = '/content/gdriv/My Drive/new_file.txt'
filename_wo_path = os.path.basename(filename)
filename_wo_path

'new_file.txt'

In [59]:
# 파일 명과 확장명 분리
base, ext = os.path.splitext(filename_wo_path)
base, ext

('new_file', '.txt')

In [ ]:
# 외부 라이브러리 설치 (jupyter에서)
!pip install pandas