## 쥬피터 환경에서 python 코딩연습해볼까요~

In [ ]:
#넵

###### 저작권 문제가 있을 수 있으니 본 데이터를 공유하진 말아주세요~ (--)(__)

In [22]:
#넵

### 파이썬 데이터 타입 문제
---------------------------

In [1]:
# 1. 아래 문자열의 길이를 구해보세요.
q1 = "dk2jd923i1jdk2jd93jfd92jd918943jfd8923"

In [2]:
len(q1)

38

In [2]:
# 2. 화면에 * 기호 100개를 표시하세요.

In [3]:
print('*'*100)

****************************************************************************************************

In [5]:
# 3. 문자열 "30"이 들어있는 변수 a를 각각 정수형, 실수형, 문자형으로 변환해보세요.
a = "30"

In [6]:
print(a)
print(int(a))
print(float(a))

30
30
30.0

In [7]:
# 5. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력해보아요
license_plate = "24가 2210"

In [8]:
print(license_plate[-4:])

2210

In [1]:
# 6. 다음 문자열을 거꾸로 출력해보세요. : "Strawberry"

In [9]:
a = "Strawberry"
print(a[::-1])

yrrebwartS

In [10]:
# 7. 다음 문자열에서 '-'를 제거 후 출력하세요. : "010-1234-4567"
# import re 를 이용한다.

In [10]:
import re
num = "010-1234-4567"
print(re.sub('-', '', num))

01012344567

In [11]:
# 8. 다음 문자열을 모두 대문자, 소문자로 각각 출력해보세요. : "NiceMan"
# 문자열 함수 upper(), lower()를 이용한다.

In [12]:
a = "NiceMan"
print(a.upper())
print(a.lower())

NICEMAN
niceman

In [6]:
# 9. 다음 문자열을 슬라이싱을 이용해서 "cde"만 출력하세요. : "abcdefghijklmn"

In [14]:
a = "abcdefghijklmn"
print(a[2:5])

cde

In [7]:
# 10. 다음 리스트에서 "Apple" 항목만 삭제하세요. : ["Banana", "Apple", "Orange"]
# 리스트 함수 remove()를 이용한다.

In [16]:
a_list = ["Banana", "Apple", "Orange"]
a_list.remove("Apple")
a_list

['Banana', 'Orange']

In [17]:
# 11. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하세요.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [18]:
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [22]:
# 12. lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만드세요.
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [24]:
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#', 'Python', 'Go', 'C#']

In [25]:
# 13. 리스트의 합을 출력하세요
nums = [1, 2, 3, 4, 5]

In [26]:
sum(nums)

15

In [8]:
# 14. 다음 튜플을 리스트로 변환하세요. : (1,2,3,4)

In [29]:
t = (1,2,3,4)
list(t)

[1, 2, 3, 4]

In [9]:
# 15. 다음 항목을 딕셔너리(dict)으로 선언해보세요. : <성인 - 100000 , 청소년 - 70000 , 아동 - 30000>

In [30]:
a_dic = {'성인': 100000, '청소년': 70000, '아동': 30000}
a_dic

{'성인': 100000, '청소년': 70000, '아동': 30000}

In [10]:
# 16. 13번 에서 선언한 dict 항목에 <소아 - 0> 항목을 추가해보세요.

In [31]:
a_dic['소아'] = 0
a_dic

{'성인': 100000, '청소년': 70000, '아동': 30000, '소아': 0}

In [11]:
# 17. 13번에서 선언한 딕셔너리(dict)에서 Key 항목만 출력해보세요.

In [32]:
a_dic.keys()

dict_keys(['성인', '청소년', '아동', '소아'])

In [33]:
# 18. 13번에서 선언한 딕셔너리(dict)에서 value 항목만 출력해보세요.

In [34]:
a_dic.values()

dict_values([100000, 70000, 30000, 0])

In [35]:
# 19. icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력해보세요
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [36]:
sum(list(a_dic.values()))

200000

### 파이썬 제어문 문제
---------------------------

###### 1. 아래 코드의 출력 결과를 예측해보세요
`
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
`

In [ ]:
3

In [37]:
# 2. 아래 딕셔너리에서 '가을'에 해당하는 과일을 출력하세요.
q1 =  {"봄": "딸기", "여름": "토마토", "가을": "사과"}

In [38]:
q1["가을"]

'사과'

In [12]:
# 3. 위의 q1의 key에 '여름'이 있는 지 확인하세요

In [39]:
'여름' in q1

True

In [40]:
# 4. 아래 딕셔너리에서 '사과'가 포함되었는지 확인하세요.
q2 =  {"봄": "딸기", "여름": "토마토", "가을": "사과"}

In [41]:
'사과' in q2.values()

True

In [15]:
# 5. 다음 점수 구간에 맞게 학점을 출력하세요.

# 81 ~ 100 : A학점
# 61 ~ 80 :  B학점
# 41 ~ 60 :  C학점
# 21 ~ 40 :  D학점
#  0 ~ 20 :  E학점

In [44]:
score = 23

if score > 81:
    print('A학점')
elif score > 61:
    print('B학점')
elif score > 41:
    print('C학점')
elif score > 21:
    print('D학점')
else:
    print('E학점')

D학점

In [46]:
# 6. 다음 주민등록 번호에서 7자리 숫자를 사용해서 남자, 여자를 판별하세요. (1,3 : 남자, 2,4 : 여자)
s = '891022-2473837'

In [49]:
if s[7] == '1' or s[7] == '3':
    print('남자')
else:
    print('여자')

여자

### 파이썬 반복문 문제
---------------------------

In [50]:
# 1. 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
q3 = ["갑", "을", "병", "정"]

In [51]:
for i in q3:
    if i == "정":
        continue
    print(i)

갑
을
병

In [18]:
# 2. 1부터 100까지 자연수 중 '홀수'만 한 라인으로 출력 하세요.

In [58]:
# for i in range(101):
#     if i % 2 != 0:
#         print(i)
' '.join([str(i) for i in range(101) if i % 2 != 0])

'1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99'

In [60]:
# 3. 아래 리스트 항목 중에서 5글자 이상의 단어만 출력하세요. 
q4 = ["nice", "study", "python", "anaconda", "!"]

In [61]:
for i in q4:
    if len(i) > 5:
        print(i)

python
anaconda

In [62]:
# 4. 다음과 같이 애완 동물 리스트가 있을 때 애완 동물의 이름과 애완 동물의 글자수를 출력하세요.
pets = ['dog', 'cat', 'parrot', 'squirrel', 'goldfish']

In [63]:
for i in pets:
    print(i, len(i))

dog 3
cat 3
parrot 6
squirrel 8
goldfish 8

In [65]:
# 5. 아래 리스트 항목 중에서 소문자만 출력하세요. 문자객체.islower() 사용
q5 = ["A", "b", "c", "D", "e", "F", "G", "h"]

In [66]:
for i in q5:
    if i.islower():
        print(i)

b
c
e
h

In [68]:
# 6. 아래 리스트 항목 중에서 소문자는 대문자로 대문자는 소문자로 출력하세요. .upper() .lower() 사용
q6 = ["A", "b", "c", "D", "e", "F", "G", "h"]

In [69]:
for i in q6:
    if i.islower():
        print(i.upper())
    else:
        print(i.lower())

a
B
C
d
E
f
g
H

In [70]:
# 7. 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하세요. (힌트: split 메서드를 사용)
file_list = ['hello.py', 'ex01.py', 'ch02.py', 'intro.hwp']

In [71]:
for each in file_list:
    name, extension= each.split('.')
    print(name)

hello
ex01
ch02
intro

## 고생하셨어요~ :)